[submodule "copyfs/source"]
	path = copyfs/box/source
	url = git@github.com:bachm44/fuse-copyfs.git
[submodule "waybackfs/source"]
	path = waybackfs/box/source
	url = git@github.com:bachm44/wayback.git
