[submodule "copyfs/source"]
	path = copyfs/box/source
	url = git@github.com:bachm44/fuse-copyfs.git
[submodule "waybackfs/source"]
	path = waybackfs/box/source
	url = git@github.com:bachm44/wayback.git
[submodule "fs/nilfs-dedup"]
	path = fs/nilfs-dedup
	url = git@github.com:bachm44/nilfs-dedup.git
[submodule "tools/gen_file"]
	path = tools/gen_file
	url = git@github.com:bachm44/gen_file.git
